.Profile {
  height: 100vh;
}

.friends-container {
  z-index: 0;
  display: flex;
  position: relative;
  top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-left: 14%;
}

#pupBudzHeader {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 10%;
  justify-content: center;
  font-size: 32px;
  font-weight: 200;
}

.friends {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  flex: 0 0 27.15%;
  border: 5px solid #ac4f22;
  flex-direction: column;
  background-color: #ac4f22;
  padding-top: 5%;
  overflow: scroll;
  height: 556.5px;
}

.friend-search-box {
  color: white;
  margin-left: 5%;
}

.messages {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  flex: 1;
  border: 5px solid #f5ebda;
  flex-direction: column;
  background-color: #f5ebda;
  overflow: scroll;
  height: 603px;
}

.friendsList {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 10px 0;
  padding: 1.5px;
  color: white;
  text-align: center;
}

.listOfFriends {
  position: relative;
  z-index: 0;
  margin-top: 30px;
}

.friend-pic {
  margin-left: 15%;
  margin-bottom: 15%;
  width: 70%;
  margin-top: -8%;
}

.friendName {
  color: white;
}

.unfriendBtn {
  position: inline;
  color: #f5d594;
}

#msg-receiver-header {
  margin-top: 5%;
}

.sender {
  color: white;
  background-color: #0b88bd;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  margin-left: 50%;
  margin-top: 5%;
  width: fit-content;
  margin-right: 3%;
  float: right;
  margin-bottom: 5px;
}

.reciever {
  color: black;
  background-color: white;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  margin-left: 3%;
  margin-top: 5%;
}

.senderTime {
  font-weight: 100;
  margin-left: 70%;
  font-size: 14px;
  color: gray;
  font-weight: 200;
  margin-top: 5px;
}

.recieverTime {
  font-weight: 100;
  margin-left: 5%;
  font-size: 14px;
  color: gray;
  font-weight: 200;
  margin-top: 5px;
}

#sendMsgButton {
  margin-top: 2%;
  margin-left: 16%;
}

.sendMsgContainer {
  margin-top: 14%;
  margin-left: 33%;
}
