#warnMessage {
  z-index: 3;
  position: absolute;
  top: 195px;
  left: 300px;
  font-size: 13px;
  text-align: center;
}

.addFriendInput {
  display: inline;
  float: left;
}

.addFriendButton {
  display: inline;
  float: right;
  transition: background-color 0.3s;
}

.addFriendButton:hover {
  cursor: pointer;
}

.suggestions {
  background-color: white;
  padding: 5px;
  color: black;
  text-align: center;
  border: 1px solid lightgrey;
}

.suggestions:hover {
  background-color: lightgrey;
  cursor: pointer;
  margin: 4px 0 4px 0;
}
