/* .google-calendar {
  position: relative;
  top: 11vw;
  left: 30vw;
  border: 0;
} */

#link-unlink-btn{
  margin-left: 5%;
  margin-bottom: 3%;
}
.calendar-wrapper{
  background-image: url(https://i.ibb.co/GkSs7N0/12820755.jpg);
  background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
}
#calendar-container{
  border-color: #ac4f22;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 20%;
  background-color: blanchedalmond;
}

#calendar-header{
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ac4f22;
  width: 100%;
  font-size: 42px;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 5%;
  margin-top: -2px;
}

#calendar {
  width: 90%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: right; */
  margin-left: 10%;
}

#create-event-form {
  width: fit-content;
  margin: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.time {
  width: 120px;
}

/* .calendar-popup {
  background-color: white;
  border: solid 3px black;
  padding: 25px;
  width: 400;
  position: absolute;
  top: 23vw;
  left: 25vw;
  z-index: 10;
} */

/* #popup-title {
  font-size: larger;
  font-weight: bold;
}

#popup-time {
  margin-bottom: 15px;
} */

#guest-count {
  /* padding-top: 5px;
  padding-bottom: 5px; */
}

.guestList {
  /* margin-left: 10px;
  padding: 5px; */
}

#close {
  /* position: absolute;
  top: 0rem;
  right: 0rem; */
}
.event-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
}
.google-calendar-btn{
margin-bottom: 30px;
margin-left: auto !important;
}

#invite-btn {
  margin-top: 5%
}
