@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:ital,wght@0,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


/*
Div containing each dog and cleans up styling so we have 2 columns for all dogs
and appropriate space around each container.
*/

.dogs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 50%;
  margin-left: 10rem;
}

.dogProfile {
  max-width: 50%;
  flex-wrap: wrap;
  column-count: 2;
  margin-left: 25%;
  margin-top: 2rem;
  justify-content: space-between;
  background-image: WHITE;
}

.dog-toys{
  display: flex;
  max-height: 1%;
  flex-wrap: wrap;
  column-count: 2;
  
  
}

/*
Profile div that sets the background to our brand color and adjust the margin to
reduce white space.
*/

.Profile {
  background-image: url(https://i.ibb.co/GkSs7N0/12820755.jpg);
  background-repeat: no-repeat;
    height: 2000px;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    
}

/*
Div for our header to set the font family, color and adjust padding to create appropriate space between
the header and card media.
*/

.header{
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-bottom: '10px';
}

.toy-text{
  font-weight: bolder;
}

.toy-image{
  height: 10vh;
  width: 5vw;
}