.friend-requests-container {
  margin-left: 33%;
  border: 1px solid black;
  margin-top: 5%;
  width: 300px;
  padding: 1%;
}
#friend-req-header{
  color: #4aab92;
}
#request-response {
  color: red;
}
#req-btns{
  margin-left:27%;
}