.notif-container{
  border-color: #35200b;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 25%;
  background-color: #f5ebda;
  border-style: solid;
}

/* .MuiTypography-h2 {
  font-weight: 300;
  margin-left: 30%;
} */

#notifs-header{
  margin-top: 3%;
  font-weight: 800;
}

.all-notif{
  margin-left: 40%;
}

.notif-list{
  margin-top: 3%;
  color: #d4591a;
}

#change-number-msg{
  margin-top: 5%;
  font-weight: 800;
}

#change-num-btn{
  margin-left: 40%;
}

.img{
  width: 35%;
  margin-top: 3%;
  margin-left: 33%;
}