.notif-container{
  border-color: #35200b;
  height: 20%;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 25%;
  background-color: #f5ebda;
  border-style: solid;
}

.MuiTypography-h2 {
  font-weight: 300;
  margin-left: 30%;
}

.all-notif{
  margin-left: 40%;
}

.notif-list{
  margin-left: 40%;
}

#change-number-msg{
  color: blue;
  margin-top: 10%;
  font-weight: 800;
}

.change-num-input{
}

.change-num-btn{
 display: grid;
}