@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sansita+Swashed:wght@300&display=swap');
.Sidebar{
  height: 100%;
  width: 15vw;
  background-color: #002626;
  position: absolute;
  right: 0rem;
}

.sideBarList{
  height: auto;
  width: 100%;
  padding: 0
}

.sideBarList .sideBarRow{
  width: 100%;
  height: 12vh;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #FEFDFF;
  text-decoration: none;
  justify-content: center;
}

.sideBarList .sideBarRow:hover{
  cursor: pointer;
  background-color: #0e4749;
}

.form-title{
  text-align: center;
  color: #2CDA9D;
  letter-spacing: 2px;
}


.fave-parks{
margin-left: 10px;
background-color: #002626;

}

.park-text{
  font-family: 'Montserrat', sans-serif;
  color: #FEFDFF;
  font-weight: bolder;
  display: inline;
  margin-bottom: 5px;
}

.flex{
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}



